html{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 15px; 
}

.container {
	border: 1px black solid;
	margin: 0 70px;
	padding: 0 10px;
  }
  
  .small {
	font-size: 12px;
  }
  
  .big {
	font-weight: 900;
	font-size: 20px;
  }
  .container2 {
	border: 1px black solid;
	margin: 0 10px;
	display: flex;
  }
  
  .block {
	border: 1px lightgrey solid;
	margin: 10px;
	border-radius: 10px;
	padding: 5px;
	box-shadow: 2px 5px 10px lightgrey;
  }
  
  .block p {
	margin: 0;
  }


.row {
	height: 70px; 
	display:flex; 
	align-items: center; 
}

.column{
	display: flex; 
	justify-content: center; 
}

#row_1_1 {
	display: flex; 
	justify-content: space-between; 
	border-top: 1px solid gray; 
	border-bottom: 1px solid gray; 
}

#column_1_1_1{
	width: 10%; 
	padding-left: 5%; 
}

#column_1_1_7{
	width: 15%; 
}	

#btn_signup{
	font-size: 13px; 
	display: flex; 
	background-color: green; 
	border-radius: 8px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 70px;
	justify-content: center; 
	margin: 10px;
	cursor: pointer;
	
	/*Font*/
	color: white;
	font-weight: bold; 
}

#search{
	border-radius: 8px; 
	border: none; 
	background-color: lightgray;
	width: 40px; 
	height: 40px; 
}

#column_1_1_11 {
	display: flex; 
	justify-content: center; 
	align-items: center; 
	margin-right: 10%; 
}

