.container {
  border: 1px black solid;
  margin: 0 70px;
  padding: 0 10px;
}

.small {
  font-size: 12px;
}

.big {
  font-weight: 900;
  font-size: 20px;
}
.container2 {
  border: 1px black solid;
  margin: 0 10px;
  display: flex;
}

.block {
  border: 1px lightgrey solid;
  margin: 10px;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 2px 5px 10px lightgrey;
}

.block p {
  margin: 0;
}

table{
  border-collapse: collapse;
  text-align: end;
}

thead{
  border-top: solid black 1px;
}
td {
  border-top:black solid 1px;
  border-bottom: black solid 1px;
}

tr :nth-child(2){
  text-align: center;
}

tr :nth-child(3){
  text-align: center;
}
